Repository asd-xiv/promise-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint.js-staged, npm run lint.md-staged, circleci config validate

.lintstagedrc:

{
  "*.{js,json}": "npm run lint.js-staged",
  "*.md": "npm run lint.md-staged",
  ".circleci/config.yml": "circleci config validate"
}

feat: working version
  .circleci/config.yml
  .eslintrc
  README.md
  docs/screenshot-benchmark.png
  docs/screenshot-test.png
  package-lock.json
  package.json
  src/index.test.ts
  src/index.ts
  src/sum/sum.bench.ts
  src/sum/sum.test.ts
  src/sum/sum.ts
  tsconfig.json
Due: npm run lint.js-staged, npm run lint.md-staged, circleci config validate

chore: disable typecheck in githook
  .githook/pre-push
Due: none

feat: update dependencies, fix "test" script
  package-lock.json
  package.json
Due: npm run lint.js-staged

test: treat false "shouldReuseExisting" case
  src/index.test.ts
Due: none

chore: fix coverage config
  .c8rc
Due: none
